openapi: 3.0.0
info:
  title: ArgentinaDatos API
  version: 1.0.0
  description: >-
    API pública, **no oficial**, desarrollada en
    [EsJS](https://es.js.org?ref=argentinadatos.com) que brinda información
    actualizada sobre diferentes datos de Argentina.


    <br/>¿Encontraste útil esta API? **¡Dejá tu ⭐ en
    [GitHub](https://github.com/enzonotario/esjs-argentina-datos-api)!**
servers:
  - url: https://api.argentinadatos.com
    description: Servidor principal
paths:
  /v1/feriados/{año}:
    get:
      summary: Feriados
      tags:
        - Eventos
      description: >-
        Devuelve los feriados del año indicado (o del año actual si no se
        especifica).
      parameters:
        - name: año
          in: path
          description: Año de consulta
          required: true
          schema:
            type: integer
            minimum: 2016
            maximum: 2026
          example: 2026
      responses:
        '200':
          description: Devuelve los feriados del año actual
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Feriado'
      operationId: get-feriados
      x-data-source:
        - '[La Nación](https://www.lanacion.com.ar/feriados/)'
  /v1/feriados-bancarios/{año}:
    get:
      summary: Feriados bancarios
      tags:
        - Eventos
      description: >-
        Devuelve los feriados bancarios del año indicado (o del año actual si no
        se especifica).
      parameters:
        - name: año
          in: path
          description: Año de consulta
          required: true
          schema:
            type: integer
            minimum: 2011
            maximum: 2026
          example: 2026
      responses:
        '200':
          description: Devuelve los feriados bancarios del año indicado
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FeriadoBancario'
      operationId: get-feriados-bancarios
      x-data-source:
        - '[BCRA](https://www.bcra.gob.ar/consulta-feriados-bancarios/)'
  /v1/cotizaciones/dolares:
    get:
      summary: Dólares
      tags:
        - Cotizaciones históricas
      description: Devuelve las cotizaciones de todas las casas de cambio.
      responses:
        '200':
          description: Devuelve una lista de cotizaciones del dólar
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Cotizacion'
      operationId: get-cotizaciones-dolares
      x-data-source:
        - '[DolarApi](https://dolarapi.com)'
  /v1/cotizaciones/dolares/{casa}:
    get:
      summary: Dólares por casa
      tags:
        - Cotizaciones históricas
      description: Devuelve las cotizaciones del dólar de la casa de cambio especificada.
      parameters:
        - name: casa
          in: path
          description: Casa de cambio
          required: true
          schema:
            type: string
            enum:
              - oficial
              - blue
              - bolsa
              - contadoconliqui
              - cripto
              - mayorista
              - solidario
              - turista
          example: blue
      responses:
        '200':
          description: Devuelve una lista de cotizaciones del dólar
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Cotizacion'
      operationId: get-cotizaciones-dolares-casa
      x-data-source:
        - '[DolarApi](https://dolarapi.com)'
  /v1/cotizaciones/dolares/{casa}/{fecha}:
    get:
      summary: Dólar por casa y fecha
      tags:
        - Cotizaciones históricas
      description: >-
        Devuelve la cotización del dólar de la casa de cambio especificada en la
        fecha indicada (en formato `YYYY/MM/DD`).
      parameters:
        - name: casa
          in: path
          description: Casa de cambio
          required: true
          schema:
            type: string
            enum:
              - oficial
              - blue
              - bolsa
              - contadoconliqui
              - cripto
              - mayorista
              - solidario
              - turista
          example: blue
        - name: fecha
          in: path
          description: Fecha de consulta
          required: true
          schema:
            type: string
            format: date
          example: 2024/01/01
      responses:
        '200':
          description: Devuelve una lista de cotizaciones del dólar
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cotizacion'
      operationId: get-cotizaciones-dolares-casa-fecha
      x-data-source:
        - '[DolarApi](https://dolarapi.com)'
  /v1/eventos/presidenciales:
    get:
      summary: Eventos presidenciales
      tags:
        - Eventos
      description: Devuelve los eventos presidenciales.
      responses:
        '200':
          description: Devuelve una lista de eventos presidenciales
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EventoPresidencial'
      operationId: get-eventos-presidenciales
      x-data-source:
        - >-
          [Wikipedia](https://es.wikipedia.org/wiki/Anexo:Presidentes_de_la_Naci%C3%B3n_Argentina)
  /v1/finanzas/indices/inflacion:
    get:
      summary: Índices de inflación
      tags:
        - Finanzas
        - Índices
      description: Devuelve los índices de inflación mensuales.
      responses:
        '200':
          description: Devuelve una lista de índices de inflación
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IndiceInflacion'
      operationId: get-finanzas-indices-inflacion
      x-sidebar-title: Inflación mensual
      x-data-source:
        - '[BCRA](https://bcra.gob.ar/)'
  /v1/finanzas/indices/inflacionInteranual:
    get:
      summary: Índices de inflación interanuales
      tags:
        - Finanzas
        - Índices
      description: Devuelve los índices de inflación interanuales.
      responses:
        '200':
          description: Devuelve una lista de índices de inflación
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IndiceInflacion'
      operationId: get-finanzas-indices-inflacion-interanual
      x-sidebar-title: Inflación interanual
      x-data-source:
        - '[BCRA](https://bcra.gob.ar/)'
  /v1/finanzas/indices/uva:
    get:
      summary: Índices UVA
      tags:
        - Finanzas
        - Índices
      description: Devuelve los índices UVA.
      responses:
        '200':
          description: Devuelve una lista de índices UVA
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IndiceUVA'
      operationId: get-finanzas-indices-uva
      x-data-source:
        - '[BCRA](https://bcra.gob.ar/)'
  /v1/finanzas/indices/riesgo-pais:
    get:
      summary: Riesgo país
      tags:
        - Finanzas
        - Índices
      description: >-
        Devuelve una lista de riesgo país. Para obtener el último valor,
        consultar `/v1/finanzas/indices/riesgo-pais/ultimo`.
      responses:
        '200':
          description: Devuelve una lista de riesgo país
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RiesgoPais'
      operationId: get-finanzas-indices-riesgo-pais
      x-data-source:
        - '[Ámbito](https://mercados.ambito.com/riesgopais/)'
  /v1/finanzas/indices/riesgo-pais/ultimo:
    get:
      summary: Riesgo país (último)
      tags:
        - Finanzas
        - Índices
      description: Devuelve el último valor de riesgo país.
      responses:
        '200':
          description: Devuelve el último valor de riesgo país
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RiesgoPais'
      operationId: get-finanzas-indices-riesgo-pais-ultimo
      x-data-source:
        - '[Ámbito](https://mercados.ambito.com/riesgopais/)'
  /v1/politica/indices/confianza-gobierno:
    get:
      summary: Índice de Confianza en el Gobierno
      tags:
        - Política
        - Índices
      description: >-
        Devuelve la serie mensual del Índice de Confianza en el Gobierno (ICG)
        de la Universidad Torcuato Di Tella. Para obtener el último valor,
        consultar `/v1/politica/indices/confianza-gobierno/ultimo`.
      responses:
        '200':
          description: Devuelve la serie mensual del ICG
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IndiceConfianzaGobierno'
      operationId: get-politica-indices-confianza-gobierno
      x-data-source:
        - '[UTDT - Índice de Confianza en el Gobierno](https://www.utdt.edu/icg)'
  /v1/politica/indices/confianza-gobierno/ultimo:
    get:
      summary: Índice de Confianza en el Gobierno (último)
      tags:
        - Política
        - Índices
      description: >-
        Devuelve el último valor publicado del Índice de Confianza en el
        Gobierno (ICG).
      responses:
        '200':
          description: Devuelve el último valor del ICG
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndiceConfianzaGobierno'
      operationId: get-politica-indices-confianza-gobierno-ultimo
      x-data-source:
        - '[UTDT - Índice de Confianza en el Gobierno](https://www.utdt.edu/icg)'
  /v1/finanzas/tasas/plazoFijo:
    get:
      summary: Plazo fijo
      tags:
        - Finanzas
        - Tasas
      description: >-
        Tasa Nominal Anual para colocaciones online de $100.000 a 30 días.(*).


        Las tasas son reportadas por los bancos al BCRA en cumplimiento del
        Régimen Informativo de Transparencia, capítulo I.


        (*): La tasa puede cambiar para otros montos o plazos.
      responses:
        '200':
          description: Devuelve una lista de tasas de plazo fijo
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TasaPlazoFijo'
      operationId: get-finanzas-tasas-plazo-fijo
      x-data-source:
        - '[BCRA](https://www.bcra.gob.ar/api/endpoints/plazos-fijos.php)'
        - '[Voii](https://www.voii.com.ar/plazo-fijo-web/)'
        - >-
          [TuPlazoFijo](https://www.tuplazofijo.com.ar/plazos-fijos/tasas/homebanking/)
  /v1/finanzas/tasas/plazoFijoUvaPagoPeriodico:
    get:
      summary: Plazo fijo UVA con pago periódico de intereses
      tags:
        - Finanzas
        - Tasas
      description: >-
        Tasas Nominales Anuales (TNA) y Tasas Efectivas Anuales (TEA) para
        plazos fijos UVA con pago periódico de intereses.
      responses:
        '200':
          description: >-
            Devuelve una lista de proveedores, cada uno con sus tasas por rango
            de plazo
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProveedorPlazoFijoUvaPagoPeriodico'
      operationId: get-finanzas-tasas-plazo-fijo-uva-pago-periodico
      x-data-source:
        - '[BNA](https://www.bna.com.ar/Personas/PlazoFijoElectronico)'
  /v1/finanzas/tasas/plazoFijoPrecancelable:
    get:
      summary: Plazo fijo UVA precancelable
      tags:
        - Finanzas
        - Tasas
      description: >-
        Condiciones y tasas publicadas por entidades bancarias para plazos fijos
        UVA precancelables.
      responses:
        '200':
          description: >-
            Devuelve una lista de proveedores con condiciones de plazo fijo UVA
            precancelable
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProveedorPlazoFijoPrecancelable'
      operationId: get-finanzas-tasas-plazo-fijo-precancelable
      x-data-source:
        - '[BNA](https://www.bna.com.ar/personas/plazofijoprecancelableuva)'
        - >-
          [BBVA](https://www.bbva.com.ar/economia-para-tu-dia-a-dia/ef/plazos-fijos/que-es-plazo-fijo-uva.html)
        - >-
          [Banco
          Provincia](https://www.bancoprovincia.com.ar/mvc/productos/inversiones/Plazo_Fijo_uva_cancel_ant/Plazo_Fijo_uva_ca_info_gral)
  /v1/finanzas/tasas/depositos30Dias:
    get:
      summary: Depósitos a 30 días
      tags:
        - Finanzas
        - Tasas
      description: Tasas de interés por depósitos a 30 días de plazo.
      responses:
        '200':
          description: Devuelve una lista de tasas de interés por depósitos a 30 días
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TasaInteres'
      operationId: get-finanzas-tasas-depositos-30-dias
      x-data-source:
        - '[BCRA](https://bcra.gob.ar/)'
  /v1/finanzas/criptopesos:
    get:
      summary: Criptopesos
      tags:
        - Finanzas
        - Tasas
      description: Tasas Nominales Anuales (TNA) de criptopesos por entidad.
      responses:
        '200':
          description: Devuelve una lista de tasas de criptopesos
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Criptopeso'
      operationId: get-finanzas-criptopesos
      x-data-source:
        - '[Belo](https://www.belo.app/)'
        - '[Ripio](https://www.ripio.com/ar/)'
        - '[Buenbit](https://buenbit.com/)'
  /v1/finanzas/letras:
    get:
      summary: Letras capitalizables (LECAP/BONCAP)
      tags:
        - Finanzas
        - Letras
      description: >-
        Pago final (VPV) y fechas de emisión y vencimiento de las letras
        capitalizables (LECAP) y bonos capitalizables (BONCAP) activos,
        calculados a partir de los archivos oficiales de la Secretaría de
        Finanzas.
      responses:
        '200':
          description: Devuelve una lista de letras capitalizables activas
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LetraCapitalizable'
      operationId: get-finanzas-letras
      x-data-source:
        - '[@arielsbdar](https://x.com/arielsbdar)'
        - >-
          [Ministerio de
          Economía](https://www.argentina.gob.ar/economia/finanzas/deudapublica/colocacionesdedeuda)
        - '[https://data912.com](https://data912.com)'
  /v1/finanzas/remesas:
    get:
      summary: Remesas
      tags:
        - Finanzas
        - Remesas
      description: >-
        Devuelve las plataformas para cobrar pagos del exterior, con sus costos
        y características.
      responses:
        '200':
          description: Devuelve la información de plataformas de remesas
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Remesas'
      operationId: get-finanzas-remesas
      x-data-source:
        - '[Dolarito](https://www.dolarito.ar/remotito)'
        - '[rendimientos.co](https://rendimientos.co/tty.js)'
        - '[Belo](https://www.belo.app/ar/tarjeta-internacional)'
        - '[Ripio](https://www.ripio.com/es/productos/cripto-card)'
  /v1/finanzas/cobros/comisiones:
    get:
      summary: Comisiones de cobro
      tags:
        - Finanzas
        - Cobros
      description: >-
        Aranceles (MDR) de cobro con POS, QR, link y checkout por entidad, medio
        de pago y plazo de acreditación.
      responses:
        '200':
          description: Comisiones de cobro con metadata de corrida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComisionesCobro'
      operationId: get-finanzas-cobros-comisiones
      x-data-source:
        - '[Getnet](https://www.getnet.net/ar/aranceles)'
        - '[Mercado Pago Point](https://www.mercadopago.com.ar/ayuda/2779)'
        - '[Mercado Pago QR](https://www.mercadopago.com.ar/ayuda/3605)'
        - '[Mercado Pago Link](https://www.mercadopago.com.ar/ayuda/33392)'
        - '[Mercado Pago Checkout](https://www.mercadopago.com.ar/ayuda/33399)'
        - '[Ualá Bis QR](https://www.ualabis.com.ar/qr)'
        - '[Ualá Bis Lectores](https://www.ualabis.com.ar/lectores)'
        - '[Payway](https://www.payway.com.ar/planes-precios)'
        - >-
          [Banco
          Provincia](https://www.bancoprovincia.com.ar/web/adhesion_comercios)
        - '[Fiserv Pagos QR](https://www.fiserv.com.ar/servicios/pagos-qr/)'
        - >-
          [Nave](https://www.galicia.ar/empresas/tarjetas-y-cuentas/cuenta-comercio/nave)
        - '[Openpay](https://www.openpayargentina.com.ar/comisiones)'
        - '[Viumi](https://viumi.com.ar/)'
        - '[+Pagos Nación](https://maspagos.com.ar/simulador-de-ventas)'
        - '[Naranja X Terminal](https://www.naranjax.com/beneficios-comercios)'
        - '[Naranja X QR](https://www.naranjax.com/codigo-qr-comercios)'
        - '[Naranja X TAP](https://www.naranjax.com/cobro-tap-comercios)'
        - '[Bezza Pay SmartPOS](https://www.bezzapay.com.ar/smartpos)'
        - '[Bezza Pay TAP](https://www.bezzapay.com.ar/tap-to-phone)'
        - '[Bezza Pay QR](https://www.bezzapay.com.ar/qr)'
        - '[Sipago Comisiones](https://www.sipago.coop/comisiones)'
        - '[Sipago Cuotas](https://www.sipago.coop/cuotas)'
  /v1/finanzas/brokers/comisiones:
    get:
      summary: Comisiones de brokers
      tags:
        - Finanzas
        - Brokers
      description: >-
        Aranceles comparables de brokers por producto (acciones, cedears, bonos,
        ON, letras, cauciones, opciones, futuros, FCI, cheques, licitaciones,
        alquiler de títulos). Shape flat: una fila por arancel retail (canal
        web/app). Preferir `tasaAnualEquivalente` cuando `tasaBase` es
        mensual/anual/tna; respetar `tasaEsTope`. Agrupar en cliente por
        `producto` o `entidad`.
      responses:
        '200':
          description: Comisiones de brokers con metadata de corrida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComisionesBrokers'
      operationId: get-finanzas-brokers-comisiones
      x-data-source:
        - '[IOL Tarifas](https://www.invertironline.com/tarifas)'
        - '[Balanz Comisiones](https://balanz.com/comisiones/)'
        - '[Bull Market Help](https://help.bullmarketbrokers.com/)'
        - '[Cocos Tarifario](https://cocos.capital/tarifario)'
        - >-
          [PPI
          Comisiones](https://www.portfoliopersonal.com/Contenido/comisiones)
        - '[Fiwind Comisiones](https://www.fiwind.io/comisiones)'
        - '[IEB+ / IEB MAS](https://www.iebmas.com.ar/)'
  /v1/finanzas/creditos/hipotecariosUva:
    get:
      summary: Créditos Hipotecarios UVA
      tags:
        - Finanzas
        - Créditos
      description: >-
        Tasas Nominales Anuales (TNA) de créditos hipotecarios UVA por entidad
        bancaria.
      responses:
        '200':
          description: Devuelve una lista de TNA de créditos hipotecarios UVA
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HipotecarioUvaTna'
      operationId: get-finanzas-creditos-hipotecarios-uva
      x-data-source:
        - '[@SalinasAndres](https://x.com/SalinasAndres)'
  /v1/finanzas/creditos/prestamosPersonales:
    get:
      summary: Préstamos personales
      tags:
        - Finanzas
        - Créditos
      description: Ofertas de préstamos personales con tasas por tramo de plazo.
      responses:
        '200':
          description: Lista de ofertas de préstamos personales
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PrestamoPersonal'
      operationId: get-finanzas-creditos-prestamos-personales
      x-data-source:
        - >-
          [Bancor — Préstamos personales
          Bancón](https://www.bancor.com.ar/personas/prestamos/prestamos-personales/bancon)
        - >-
          [BBVA — Préstamos
          personales](https://www.bbva.com.ar/personas/productos/prestamos/personales.html)
        - '[BBVA — Tasas PDF](https://www.bbva.com.ar/tablas/tasaprestpers.pdf)'
        - >-
          [BNA — Nación Destino
          Libre](https://bna.com.ar/Personas/NacionDestinoLibre)
        - >-
          [BNA — Nación
          Previsional](https://bna.com.ar/Personas/NacionPrevisionalBNA)
        - >-
          [BNA — Nación Sueldos Convenios
          Generales](https://bna.com.ar/Personas/NacionSueldos-ConveniosGenerales)
        - >-
          [Chubut — Personales tasa
          fija](https://www.bancochubut.com.ar/webinstitucional/personas/prestamos/todos_los_prestamos/tasa_fija)
        - >-
          [Ciudad — Ciudad
          Veloz](https://bancociudad.com.ar/institucional/micrositio/PrestamoPersonalCiudadVeloz)
        - >-
          [Galicia — Préstamo
          personal](https://www.galicia.ar/personas/prestamos/prestamo-personal)
        - >-
          [Hipotecario — Préstamo con destino
          libre](https://www.hipotecario.com.ar/personas/prestamos-personales/prestamo-con-destino-libre/)
        - >-
          [Macro — Préstamos
          personales](https://www.macro.com.ar/personas/prestamos/personales)
        - >-
          [Patagonia — Préstamos
          online](https://www.bancopatagonia.com.ar/landings/prestamos-online.php)
        - >-
          [Santander — Préstamos
          personales](https://www.santander.com.ar/personas/prestamos/personales)
  /v1/finanzas/creditos/prestamosPersonalesBcra:
    get:
      summary: Préstamos personales (techos BCRA)
      tags:
        - Finanzas
        - Créditos
      description: >-
        Ofertas de préstamos personales informadas al BCRA: TEA máxima y CFT
        máximo por producto y entidad.
      responses:
        '200':
          description: Lista de ofertas BCRA
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PrestamoPersonalBcra'
      operationId: get-finanzas-creditos-prestamos-personales-bcra
      x-data-source:
        - >-
          [BCRA —
          PERSONALES.CSV](https://www.bcra.gob.ar/archivos/Pdfs/BCRAyVos/PERSONALES.CSV)
  /v1/finanzas/cuentas-remuneradas-usd:
    get:
      summary: Cuentas remuneradas en USD
      tags:
        - Finanzas
        - Tasas
      description: >-
        Tasa de rendimiento anual y tope remunerable en dólares de **cuentas
        remuneradas en USD** de bancos relevados.
      responses:
        '200':
          description: Lista de entidades con tasa y tope vigentes al último relevamiento
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CuentaRemuneradaUsd'
      operationId: get-finanzas-cuentas-remuneradas-usd
      x-data-source:
        - >-
          [Banco de la Nación
          Argentina](https://www.bna.com.ar/home/cuentaremunerada)
        - '[Banco Galicia](https://www.galicia.ar/personas/beneficios-dolares)'
        - >-
          [Supervielle](https://www.supervielle.com.ar/personas/cuentas/cuenta-remunerada-dolares)
  /v1/finanzas/fci/mercadoDinero/{fecha}:
    get:
      summary: Mercado de dinero
      tags:
        - Finanzas
        - FCI
      description: >-
        Devuelve los valores de Mercado de Dinero de los Fondos Comunes de
        Inversión en la fecha indicada (en formato `YYYY/MM/DD`).


        También se puede consultar el `ultimo` y `penultimo` día con valores
        utilizando los endpoints: 


        - `/v1/finanzas/fci/mercadoDinero/ultimo`

        - `/v1/finanzas/fci/mercadoDinero/penultimo`
      parameters:
        - name: fecha
          in: path
          description: Fecha de consulta
          required: true
          schema:
            type: string
            format: date
          example: ultimo
      responses:
        '200':
          description: Devuelve una lista de Fondos Comunes de Inversión
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FondoComunInversion'
      operationId: get-finanzas-fci-mercado-dinero-fecha
      x-data-source:
        - >-
          [CNV -
          Cuotapartes](https://www.cnv.gov.ar/SitioWeb/FondosComunesInversion/CuotaPartes)
  /v1/finanzas/fci/rentaVariable/{fecha}:
    get:
      summary: Renta variable
      tags:
        - Finanzas
        - FCI
      description: >-
        Devuelve los valores de Renta Variable de los Fondos Comunes de
        Inversión en la fecha indicada (en formato `YYYY/MM/DD`).


        También se puede consultar el `ultimo` y `penultimo` día con valores
        utilizando los endpoints: 


        - `/v1/finanzas/fci/rentaVariable/ultimo`

        - `/v1/finanzas/fci/rentaVariable/penultimo`
      parameters:
        - name: fecha
          in: path
          description: Fecha de consulta
          required: true
          schema:
            type: string
            format: date
          example: ultimo
      responses:
        '200':
          description: Devuelve una lista de Fondos Comunes de Inversión
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FondoComunInversion'
      operationId: get-finanzas-fci-renta-variable-fecha
      x-data-source:
        - >-
          [CNV -
          Cuotapartes](https://www.cnv.gov.ar/SitioWeb/FondosComunesInversion/CuotaPartes)
  /v1/finanzas/fci/rentaFija/{fecha}:
    get:
      summary: Renta fija
      tags:
        - Finanzas
        - FCI
      description: >-
        Devuelve los valores de Renta Fija de los Fondos Comunes de Inversión en
        la fecha indicada (en formato `YYYY/MM/DD`).


        También se puede consultar el `ultimo` y `penultimo` día con valores
        utilizando los endpoints: 


        - `/v1/finanzas/fci/rentaFija/ultimo`

        - `/v1/finanzas/fci/rentaFija/penultimo`
      parameters:
        - name: fecha
          in: path
          description: Fecha de consulta
          required: true
          schema:
            type: string
            format: date
          example: ultimo
      responses:
        '200':
          description: Devuelve una lista de Fondos Comunes de Inversión
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FondoComunInversion'
      operationId: get-finanzas-fci-renta-fija-fecha
      x-data-source:
        - >-
          [CNV -
          Cuotapartes](https://www.cnv.gov.ar/SitioWeb/FondosComunesInversion/CuotaPartes)
  /v1/finanzas/fci/rentaMixta/{fecha}:
    get:
      summary: Renta mixta
      tags:
        - Finanzas
        - FCI
      description: >-
        Devuelve los valores de Renta Mixta de los Fondos Comunes de Inversión
        en la fecha indicada (en formato `YYYY/MM/DD`).


        También se puede consultar el `ultimo` y `penultimo` día con valores
        utilizando los endpoints: 


        - `/v1/finanzas/fci/rentaMixta/ultimo`

        - `/v1/finanzas/fci/rentaMixta/penultimo`
      parameters:
        - name: fecha
          in: path
          description: Fecha de consulta
          required: true
          schema:
            type: string
            format: date
          example: ultimo
      responses:
        '200':
          description: Devuelve una lista de Fondos Comunes de Inversión
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FondoComunInversion'
      operationId: get-finanzas-fci-renta-mixta-fecha
      x-data-source:
        - >-
          [CNV -
          Cuotapartes](https://www.cnv.gov.ar/SitioWeb/FondosComunesInversion/CuotaPartes)
  /v1/finanzas/fci/retornoTotal/{fecha}:
    get:
      summary: Retorno total
      tags:
        - Finanzas
        - FCI
      description: >-
        Devuelve los valores de Retorno Total de los Fondos Comunes de Inversión
        en la fecha indicada (en formato `YYYY/MM/DD`).


        También se puede consultar el `ultimo` y `penultimo` día con valores
        utilizando los endpoints: 


        - `/v1/finanzas/fci/retornoTotal/ultimo`

        - `/v1/finanzas/fci/retornoTotal/penultimo`
      parameters:
        - name: fecha
          in: path
          description: Fecha de consulta
          required: true
          schema:
            type: string
            format: date
          example: ultimo
      responses:
        '200':
          description: Devuelve una lista de Fondos Comunes de Inversión
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FondoComunInversion'
      operationId: get-finanzas-fci-retorno-total-fecha
      x-data-source:
        - >-
          [CNV -
          Cuotapartes](https://www.cnv.gov.ar/SitioWeb/FondosComunesInversion/CuotaPartes)
  /v1/finanzas/fci/otros/{fecha}:
    get:
      summary: Otros
      tags:
        - Finanzas
        - FCI
      description: >-
        Devuelve los valores de Otros Fondos Comunes de Inversión en la fecha
        indicada (en formato `YYYY/MM/DD`).


        También se puede consultar el `ultimo` y `penultimo` día con valores
        utilizando los endpoints: 


        - `/v1/finanzas/fci/otros/ultimo`

        - `/v1/finanzas/fci/otros/penultimo`
      parameters:
        - name: fecha
          in: path
          description: Fecha de consulta
          required: true
          schema:
            type: string
            format: date
          example: ultimo
      responses:
        '200':
          description: Devuelve una lista de Fondos Comunes de Inversión
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FondoComunInversionOtro'
      operationId: get-finanzas-fci-otros-fecha
      x-data-source:
        - '[Ualá](http://uala.com.ar/)'
        - '[Belo](https://www.belo.app/)'
        - '[BNA](https://www.bna.com.ar/)'
        - '[Brubank](https://www.brubank.com/)'
        - >-
          [Carrefour
          Banco](https://www.bancodeserviciosfinancieros.com.ar/carrefourbank/)
        - '[Cresium](https://www.cresium.com/)'
        - '[Fiwind](https://www.fiwind.io/)'
        - '[Montemar Pay](https://www.montemarpay.com.ar/)'
        - '[Naranja X](https://www.naranjax.com/)'
        - '[Naranja X Frascos](https://www.naranjax.com/frascos)'
        - '[Supervielle](https://www.supervielle.com.ar/)'
        - '[Voii](https://www.voii.com.ar/app-mobile/)'
  /v1/presidentes:
    get:
      summary: Presidentes
      tags:
        - Historia
      description: Devuelve la lista de presidentes de la Nación Argentina.
      responses:
        '200':
          description: Devuelve una lista de presidentes
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Presidente'
      operationId: get-presidentes
      x-data-source:
        - >-
          [Wikipedia](https://es.wikipedia.org/wiki/Anexo:Presidentes_de_la_Naci%C3%B3n_Argentina)
  /v1/estado:
    get:
      summary: Estado de la API
      description: Devuelve el estado de la API.
      tags:
        - API
      responses:
        '200':
          description: Devuelve el estado de la API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Estado'
      operationId: get-estado
  /v1/finanzas/rendimientos:
    get:
      summary: Rendimientos de todas las entidades
      tags:
        - Finanzas
        - Rendimientos
      description: |-
        Rendimientos de distintas monedas por entidad.

        Las entidades disponibles son:

        - [Nexo](https://nexo.com/?ref=argentinadatos.com)

        - [Fiwind](https://www.fiwind.io/?ref=argentinadatos.com)

        - [Letsbit](https://letsbit.io/?ref=argentinadatos.com)

        - [Belo](https://www.belo.app/?ref=argentinadatos.com)

        - [Lemon Cash](https://www.lemon.me/?ref=argentinadatos.com)

        - [Ripio](https://www.ripio.com/ar/?ref=argentinadatos.com)

        - [Satoshi Tango](https://www.satoshitango.com/?ref=argentinadatos.com)

        - [Luca Money](https://lucamoney.com/?ref=argentinadatos.com)

        - [Decrypto](https://www.decrypto.la//?ref=argentinadatos.com)

        - [Lune.fi](https://lune.fi/investments)
      responses:
        '200':
          description: Devuelve una lista de rendimientos
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EntidadRendimiento'
      operationId: get-finanzas-rendimientos
      x-sidebar-title: De entidades
      x-data-source:
        - '[Nexo](https://nexo.com/)'
        - '[Fiwind](https://www.fiwind.io/)'
        - '[Letsbit](https://letsbit.io/)'
        - '[Belo](https://www.belo.app/)'
        - '[Lemon Cash](https://www.lemon.me/)'
        - '[Ripio](https://www.ripio.com/ar/)'
        - '[Satoshi Tango](https://www.satoshitango.com/ar/)'
        - '[Luca Money](https://lucamoney.com/)'
        - '[Decrypto](https://www.decrypto.la/)'
        - '[Vesseo](https://www.vesseofinance.com/)'
        - '[AstroPay](https://www.astropay.com/ar/)'
        - '[Lune.fi](https://lune.fi/investments)'
  /v1/finanzas/rendimientos/{entidad}:
    get:
      summary: Por entidad
      tags:
        - Finanzas
        - Rendimientos
      description: |-
        Rendimientos de distintas monedas por entidad.

        Las entidades disponibles son:

        - [Nexo](https://nexo.com/?ref=argentinadatos.com)

        - [Fiwind](https://www.fiwind.io/?ref=argentinadatos.com)

        - [Letsbit](https://letsbit.io/?ref=argentinadatos.com)

        - [Belo](https://www.belo.app/?ref=argentinadatos.com)

        - [Lemon Cash](https://www.lemon.me/?ref=argentinadatos.com)

        - [Ripio](https://www.ripio.com/ar/?ref=argentinadatos.com)

        - [Satoshi Tango](https://www.satoshitango.com/?ref=argentinadatos.com)

        - [Luca Money](https://lucamoney.com/?ref=argentinadatos.com)

        - [Decrypto](https://www.decrypto.la//?ref=argentinadatos.com)

        - [Lune.fi](https://lune.fi/investments)
      parameters:
        - name: entidad
          in: path
          description: Entidad
          required: true
          schema:
            type: string
            enum:
              - nexo
              - fiwind
              - letsbit
              - belo
              - lemoncash
              - ripio
              - satoshitango
              - lucamoney
              - decrypto
              - vesseo
              - astropay
              - lunefi
          example: nexo
      responses:
        '200':
          description: Devuelve una lista de rendimientos
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Rendimiento'
      operationId: get-finanzas-rendimientos-entidad
      x-data-source:
        - '[Nexo](https://nexo.com/)'
        - '[Fiwind](https://www.fiwind.io/)'
        - '[Letsbit](https://letsbit.io/)'
        - '[Belo](https://www.belo.app/)'
        - '[Lemon Cash](https://www.lemon.me/)'
        - '[Ripio](https://www.ripio.com/ar/)'
        - '[Satoshi Tango](https://www.satoshitango.com/ar/)'
        - '[Luca Money](https://lucamoney.com/)'
        - '[Decrypto](https://www.decrypto.la/)'
        - '[Vesseo](https://www.vesseofinance.com/)'
        - '[AstroPay](https://www.astropay.com/ar/)'
        - '[Lune.fi](https://lune.fi/investments)'
  /v1/senado/senadores:
    get:
      summary: Senadores
      tags:
        - Congreso
        - Senado
      description: Devuelve los senadores.
      responses:
        '200':
          description: Devuelve una lista de senadores
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Senador'
      operationId: get-senado-senadores
      x-data-source:
        - '[Senado](https://www.senado.gob.ar)'
  /v1/senado/comisiones:
    get:
      summary: Comisiones
      tags:
        - Congreso
        - Senado
      description: >-
        Devuelve las comisiones del Senado con su tipo e integrantes (senadores
        y, en bicamerales, diputados).
      responses:
        '200':
          description: Devuelve una lista de comisiones
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ComisionSenado'
      operationId: get-senado-comisiones
      x-data-source:
        - '[Senado](https://www.senado.gob.ar/parlamentario/comisiones/)'
  /v1/senado/presidencia:
    get:
      summary: Presidencia del Senado
      tags:
        - Congreso
        - Senado
      description: >-
        Devuelve los datos del presidente actual del Senado (vicepresidente de
        la Nación en ejercicio), scrapeados de la página oficial de Presidencia.
      responses:
        '200':
          description: Datos de la Presidencia del Senado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresidenciaSenado'
      operationId: get-senado-presidencia
      x-data-source:
        - '[Senado — Presidencia](https://www.senado.gob.ar/presidencia)'
  /v1/senado/viajes:
    get:
      summary: Viajes nacionales e internacionales
      tags:
        - Congreso
        - Senado
      description: >-
        Devuelve el índice completo de viajes (documentos PDF + listados
        nacionales e internacionales). También hay recortes en
        `/v1/senado/viajes/nacionales`, `/v1/senado/viajes/internacionales` y
        `/v1/senado/senadores/{id}/viajes`.
      responses:
        '200':
          description: Catálogo de documentos PDF y listados de viajes parseados
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ViajesSenado'
      operationId: get-senado-viajes
      x-data-source:
        - '[Senado](https://www.senado.gob.ar/administrativo/viajes)'
  /v1/senado/viajes/nacionales:
    get:
      summary: Viajes nacionales
      tags:
        - Congreso
        - Senado
      description: Devuelve todos los tramos aéreos nacionales parseados.
      responses:
        '200':
          description: Lista de viajes nacionales
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ViajeNacional'
      operationId: get-senado-viajes-nacionales
      x-data-source:
        - '[Senado](https://www.senado.gob.ar/administrativo/viajes)'
  /v1/senado/viajes/nacionales/{año}:
    get:
      summary: Viajes nacionales por año
      tags:
        - Congreso
        - Senado
      description: Devuelve los tramos aéreos nacionales del año indicado.
      parameters:
        - name: año
          in: path
          required: true
          schema:
            type: integer
            minimum: 2018
            maximum: 2026
          example: 2026
      responses:
        '200':
          description: Lista de viajes nacionales del año
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ViajeNacional'
      operationId: get-senado-viajes-nacionales-año
      x-data-source:
        - '[Senado](https://www.senado.gob.ar/administrativo/viajes)'
  /v1/senado/viajes/nacionales/{año}/{mes}:
    get:
      summary: Viajes nacionales por año y mes
      tags:
        - Congreso
        - Senado
      description: Devuelve los tramos aéreos nacionales del mes indicado (1–12).
      parameters:
        - name: año
          in: path
          required: true
          schema:
            type: integer
            minimum: 2018
            maximum: 2026
          example: 2026
        - name: mes
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 12
          example: 5
      responses:
        '200':
          description: Lista de viajes nacionales del mes
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ViajeNacional'
      operationId: get-senado-viajes-nacionales-año-mes
      x-data-source:
        - '[Senado](https://www.senado.gob.ar/administrativo/viajes)'
  /v1/senado/viajes/internacionales:
    get:
      summary: Viajes internacionales
      tags:
        - Congreso
        - Senado
      description: Devuelve todos los viajes oficiales internacionales parseados.
      responses:
        '200':
          description: Lista de viajes internacionales
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ViajeInternacional'
      operationId: get-senado-viajes-internacionales
      x-data-source:
        - '[Senado](https://www.senado.gob.ar/administrativo/viajes)'
  /v1/senado/viajes/internacionales/{año}:
    get:
      summary: Viajes internacionales por año
      tags:
        - Congreso
        - Senado
      description: Devuelve los viajes oficiales internacionales del año indicado.
      parameters:
        - name: año
          in: path
          required: true
          schema:
            type: integer
            minimum: 2012
            maximum: 2026
          example: 2025
      responses:
        '200':
          description: Lista de viajes internacionales del año
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ViajeInternacional'
      operationId: get-senado-viajes-internacionales-año
      x-data-source:
        - '[Senado](https://www.senado.gob.ar/administrativo/viajes)'
  /v1/senado/senadores/{id}/viajes:
    get:
      summary: Viajes de un senador
      tags:
        - Congreso
        - Senado
      description: >-
        Devuelve los viajes nacionales e internacionales asociados a un senador
        (`senadorId`).
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: '546'
      responses:
        '200':
          description: Viajes del senador
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SenadorViajes'
      operationId: get-senado-senadores-id-viajes
      x-data-source:
        - '[Senado](https://www.senado.gob.ar/administrativo/viajes)'
  /v1/senado/comisiones/{id}:
    get:
      summary: Comisión por id
      tags:
        - Congreso
        - Senado
      description: Devuelve el detalle de una comisión del Senado con sus integrantes.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: '50'
      responses:
        '200':
          description: Detalle de la comisión
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComisionSenado'
      operationId: get-senado-comisiones-id
      x-data-source:
        - '[Senado](https://www.senado.gob.ar/parlamentario/comisiones/)'
  /v1/senado/senadores/{id}/comisiones:
    get:
      summary: Comisiones de un senador
      tags:
        - Congreso
        - Senado
      description: >-
        Devuelve las comisiones en las que participa un senador (id, nombre y
        cargo).
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: '546'
      responses:
        '200':
          description: Lista de comisiones del senador
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    nombre:
                      type: string
                    cargo:
                      type: string
      operationId: get-senado-senadores-id-comisiones
      x-data-source:
        - '[Senado](https://www.senado.gob.ar/parlamentario/comisiones/)'
  /v1/senado/actas/{año}:
    get:
      summary: Actas por año
      tags:
        - Congreso
        - Senado
      description: Devuelve las actas del Senado del año indicado.
      parameters:
        - name: año
          in: path
          description: Año de consulta
          required: true
          schema:
            type: integer
            minimum: 2016
            maximum: 2026
          example: 2026
      responses:
        '200':
          description: Devuelve una lista de actas del Senado
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ActaSenado'
      operationId: get-senado-actas-año
      x-data-source:
        - '[Senado](https://www.senado.gob.ar)'
  /v1/senado/actas:
    get:
      summary: Actas
      tags:
        - Congreso
        - Senado
      description: Devuelve las actas del Senado.
      responses:
        '200':
          description: Devuelve una lista de actas del Senado
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ActaSenado'
      operationId: get-senado-actas
      x-data-source:
        - '[Senado](https://www.senado.gob.ar)'
  /v1/diputados/diputados:
    get:
      summary: Diputados
      tags:
        - Congreso
        - Diputados
      description: Devuelve los diputados.
      responses:
        '200':
          description: Devuelve una lista de diputados
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Diputado'
      operationId: get-diputados-diputados
      x-data-source:
        - '[Diputados](https://datos.hcdn.gob.ar)'
  /v1/diputados/periodos:
    get:
      summary: Períodos parlamentarios
      tags:
        - Congreso
        - Diputados
      description: >-
        Períodos parlamentarios oficiales de la HCDN (dataset `periodos_p`).
        Cada ítem agrega los tramos ordinario/extraordinario/prórroga en un
        rango `inicio`–`fin`. La clave `periodo` coincide con `acta.periodo`.
        También `/v1/diputados/periodos/lista`.
      responses:
        '200':
          description: Catálogo de períodos parlamentarios
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PeriodosDiputados'
      operationId: get-diputados-periodos
      x-data-source:
        - >-
          [HCDN — Períodos
          Parlamentarios](https://datos.hcdn.gob.ar/dataset/periodos_p)
  /v1/diputados/periodos/lista:
    get:
      summary: Períodos parlamentarios (lista)
      tags:
        - Congreso
        - Diputados
      description: Lista de períodos (sin metadatos de fuente).
      responses:
        '200':
          description: Lista de períodos
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PeriodoParlamentarioDiputados'
      operationId: get-diputados-periodos-lista
      x-data-source:
        - >-
          [HCDN — Períodos
          Parlamentarios](https://datos.hcdn.gob.ar/dataset/periodos_p)
  /v1/diputados/misiones:
    get:
      summary: Misiones oficiales de diputados
      tags:
        - Congreso
        - Diputados
      description: >-
        Índice de misiones oficiales al exterior (CSVs `misiones-oficiales`):
        `fuente`, `actualizado`, `recursos` y `misiones`. También
        `/v1/diputados/misiones/lista`, `/v1/diputados/misiones/{año}` y
        `/v1/diputados/diputados/{id}/misiones`.
      responses:
        '200':
          description: Catálogo de recursos CSV y misiones parseadas
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MisionesDiputados'
      operationId: get-diputados-misiones
      x-data-source:
        - >-
          [HCDN — Misiones
          Oficiales](https://datos.hcdn.gob.ar/dataset/misiones-oficiales)
  /v1/diputados/misiones/lista:
    get:
      summary: Misiones oficiales (lista)
      tags:
        - Congreso
        - Diputados
      description: Lista plana de misiones oficiales parseadas.
      responses:
        '200':
          description: Lista de misiones
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MisionOficialDiputado'
      operationId: get-diputados-misiones-lista
      x-data-source:
        - >-
          [HCDN — Misiones
          Oficiales](https://datos.hcdn.gob.ar/dataset/misiones-oficiales)
  /v1/diputados/misiones/{año}:
    get:
      summary: Misiones oficiales por año
      tags:
        - Congreso
        - Diputados
      description: Misiones oficiales del año indicado.
      parameters:
        - name: año
          in: path
          required: true
          schema:
            type: integer
            example: 2024
      responses:
        '200':
          description: Lista de misiones del año
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MisionOficialDiputado'
      operationId: get-diputados-misiones-año
      x-data-source:
        - >-
          [HCDN — Misiones
          Oficiales](https://datos.hcdn.gob.ar/dataset/misiones-oficiales)
  /v1/diputados/diputados/{id}/misiones:
    get:
      summary: Misiones de un diputado
      tags:
        - Congreso
        - Diputados
      description: Misiones oficiales asociadas a un diputado.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            example: HCDN3178
      responses:
        '200':
          description: Misiones del diputado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiputadoMisiones'
      operationId: get-diputados-diputado-misiones
      x-data-source:
        - >-
          [HCDN — Misiones
          Oficiales](https://datos.hcdn.gob.ar/dataset/misiones-oficiales)
  /v1/diputados/viajes:
    get:
      summary: Viajes nacionales de diputados
      tags:
        - Congreso
        - Diputados
      description: >-
        Índice de viajes nacionales de diputados (CSVs `viajes-nacionales`).
        También hay recortes en `/v1/diputados/viajes/nacionales`,
        `/v1/diputados/viajes/conteo-12m` y
        `/v1/diputados/diputados/{id}/viajes`. Las misiones oficiales al
        exterior están en `/v1/diputados/misiones`.
      responses:
        '200':
          description: Catálogo de recursos CSV y tramos parseados
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ViajesDiputados'
      operationId: get-diputados-viajes
      x-data-source:
        - >-
          [HCDN — Viajes
          Nacionales](https://datos.hcdn.gob.ar/dataset/viajes-nacionales)
  /v1/diputados/viajes/nacionales:
    get:
      summary: Viajes nacionales (lista)
      tags:
        - Congreso
        - Diputados
      description: Todos los tramos nacionales parseados desde los CSV semestrales.
      responses:
        '200':
          description: Lista de viajes nacionales
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ViajeNacionalDiputado'
      operationId: get-diputados-viajes-nacionales
      x-data-source:
        - >-
          [HCDN — Viajes
          Nacionales](https://datos.hcdn.gob.ar/dataset/viajes-nacionales)
  /v1/diputados/viajes/conteo-12m:
    get:
      summary: Conteo de viajes (últimos 12 meses)
      tags:
        - Congreso
        - Diputados
      description: >-
        Cantidad de tramos nacionales por diputado en la ventana móvil de 12
        meses.
      responses:
        '200':
          description: Conteo por diputadoId
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ViajesConteo12mDiputados'
      operationId: get-diputados-viajes-conteo-12m
      x-data-source:
        - >-
          [HCDN — Viajes
          Nacionales](https://datos.hcdn.gob.ar/dataset/viajes-nacionales)
  /v1/diputados/diputados/{id}/viajes:
    get:
      summary: Viajes de un diputado
      tags:
        - Congreso
        - Diputados
      description: Tramos nacionales asociados a un diputado.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            example: HCDN3178
      responses:
        '200':
          description: Viajes del diputado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiputadoViajes'
      operationId: get-diputados-diputado-viajes
      x-data-source:
        - >-
          [HCDN — Viajes
          Nacionales](https://datos.hcdn.gob.ar/dataset/viajes-nacionales)
  /v1/diputados/comisiones:
    get:
      summary: Comisiones de diputados
      tags:
        - Congreso
        - Diputados
      description: >-
        Comisiones de la HCDN con tipología e integrantes. También
        `/v1/diputados/comisiones/{id}` y
        `/v1/diputados/diputados/{id}/comisiones`.
      responses:
        '200':
          description: Lista de comisiones
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ComisionDiputados'
      operationId: get-diputados-comisiones
      x-data-source:
        - '[HCDN — Comisiones](https://datos.hcdn.gob.ar/dataset/comisiones)'
  /v1/diputados/comisiones/{id}:
    get:
      summary: Comisión de diputados por ID
      tags:
        - Congreso
        - Diputados
      description: Detalle de una comisión e integrantes.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Comisión
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComisionDiputados'
      operationId: get-diputados-comision
      x-data-source:
        - '[HCDN — Comisiones](https://datos.hcdn.gob.ar/dataset/comisiones)'
  /v1/diputados/diputados/{id}/comisiones:
    get:
      summary: Comisiones de un diputado
      tags:
        - Congreso
        - Diputados
      description: Membresías de comisiones asociadas a un diputado.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            example: HCDN3178
      responses:
        '200':
          description: Lista de comisiones del diputado
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    nombre:
                      type: string
                    cargo:
                      type: string
      operationId: get-diputados-diputado-comisiones
      x-data-source:
        - '[HCDN — Comisiones](https://datos.hcdn.gob.ar/dataset/comisiones)'
  /v1/diputados/actas/{año}:
    get:
      summary: Actas por año
      tags:
        - Congreso
        - Diputados
      description: Devuelve las actas de Diputados del año indicado.
      parameters:
        - name: año
          in: path
          description: Año de consulta
          required: true
          schema:
            type: integer
            minimum: 2016
            maximum: 2026
          example: 2026
      responses:
        '200':
          description: Devuelve una lista de actas de Diputados
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ActaDiputados'
      operationId: get-diputados-actas-año
      x-data-source:
        - '[Diputados](https://votaciones.hcdn.gob.ar)'
  /v1/diputados/actas:
    get:
      summary: Actas
      tags:
        - Congreso
        - Diputados
      description: Devuelve las actas de Diputados.
      responses:
        '200':
          description: Devuelve una lista de actas de Diputados
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ActaDiputados'
      operationId: get-diputados-actas
      x-data-source:
        - '[Diputados](https://votaciones.hcdn.gob.ar)'
  /v1/finanzas/fci/variables/{fecha}:
    get:
      summary: Variables
      tags:
        - Finanzas
        - FCI
      description: >-
        Devuelve los valores de Rendimientos Variables de los Fondos Comunes de
        Inversión en la fecha indicada (en formato `YYYY/MM/DD`).


        También se puede consultar el `ultimo` y `penultimo` día con valores
        utilizando los endpoints: 


        - `/v1/finanzas/fci/variables/ultimo`

        - `/v1/finanzas/fci/variables/penultimo`
      parameters:
        - name: fecha
          in: path
          description: Fecha de consulta
          required: true
          schema:
            type: string
            format: date
          example: ultimo
      responses:
        '200':
          description: Devuelve una lista de Fondos Comunes de Inversión
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FondoComunInversionVariable'
      operationId: get-finanzas-fci-variables-fecha
      x-data-source:
        - '[Global66](https://global66.com/)'
  /v1/finanzas/rem:
    get:
      summary: Relevamientos de Expectativas de Mercado (REM)
      tags:
        - Finanzas
        - REM
      description: >-
        Devuelve el índice de endpoints relativos para consultar el último REM y
        cada uno de los informes REM disponibles por período.
      responses:
        '200':
          description: Devuelve una lista de endpoints relativos disponibles
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                  example: /finanzas/rem/2026/03
      operationId: get-finanzas-rem
      x-sidebar-title: REM
      x-data-source:
        - '[BCRA](https://www.bcra.gob.ar/ultimos-informes/)'
  /v1/finanzas/rem/ultimo:
    get:
      summary: Relevamiento de Expectativas de Mercado (REM) - último informe
      tags:
        - Finanzas
        - REM
      description: Devuelve las expectativas del último informe REM disponible.
      responses:
        '200':
          description: Devuelve una lista de expectativas del último REM
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RemExpectativa'
      operationId: get-finanzas-rem-ultimo
      x-sidebar-title: Último informe
      x-data-source:
        - '[BCRA](https://www.bcra.gob.ar/ultimos-informes/)'
  /v1/finanzas/rem/{año}/{mes}:
    get:
      summary: Relevamiento de Expectativas de Mercado (REM) por período
      tags:
        - Finanzas
        - REM
      description: >-
        Devuelve las expectativas del informe REM correspondiente al año y mes
        indicados.
      parameters:
        - name: año
          in: path
          description: Año del informe REM
          required: true
          schema:
            type: integer
            minimum: 2016
          example: 2026
        - name: mes
          in: path
          description: Mes del informe REM con dos dígitos
          required: true
          schema:
            type: string
            pattern: ^(0[1-9]|1[0-2])$
          example: '03'
      responses:
        '200':
          description: Devuelve una lista de expectativas del REM para el período indicado
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RemExpectativa'
      operationId: get-finanzas-rem-anio-mes
      x-sidebar-title: Por período
      x-data-source:
        - '[BCRA](https://www.bcra.gob.ar/ultimos-informes/)'
  /v1/finanzas/fci/fondos:
    get:
      summary: Detalles de todos los fondos
      tags:
        - Finanzas
        - FCI Detalles
      description: >-
        Devuelve la información detallada disponible de los Fondos Comunes de
        Inversión.
      responses:
        '200':
          description: Devuelve los detalles de todos los fondos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FondosDetalles'
      operationId: get-finanzas-fci-fondos
      x-sidebar-title: Detalles de fondos
      x-data-source:
        - >-
          [CNV -
          Cuotapartes](https://www.cnv.gov.ar/SitioWeb/FondosComunesInversion/CuotaPartes)
  /v1/finanzas/fci/fondos/{nombre}:
    get:
      summary: Detalle de un fondo por nombre
      tags:
        - Finanzas
        - FCI Detalles
      description: >-
        Devuelve el detalle disponible de un Fondo Común de Inversión
        específico, identificado por su nombre normalizado en minúsculas y con
        guiones.
      parameters:
        - name: nombre
          in: path
          description: 'Nombre normalizado del fondo (por ejemplo: mercado-fondo-clase-a)'
          required: true
          schema:
            type: string
          example: mercado-fondo-clase-a
      responses:
        '200':
          description: Devuelve el detalle del fondo solicitado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FondoDetalle'
      operationId: get-finanzas-fci-fondos-nombre
      x-data-source:
        - >-
          [CNV -
          Cuotapartes](https://www.cnv.gov.ar/SitioWeb/FondosComunesInversion/CuotaPartes)
  /v1/finanzas/fci/fondos/{nombre}/historico:
    get:
      summary: Histórico de un fondo por nombre
      tags:
        - Finanzas
        - FCI Detalles
      description: >-
        Devuelve la evolución histórica disponible de un Fondo Común de
        Inversión específico, identificado por su nombre normalizado en
        minúsculas y con guiones.
      parameters:
        - name: nombre
          in: path
          description: 'Nombre normalizado del fondo (por ejemplo: mercado-fondo-clase-a)'
          required: true
          schema:
            type: string
          example: mercado-fondo-clase-a
      responses:
        '200':
          description: Devuelve el histórico disponible del fondo solicitado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FondoHistorico'
      operationId: get-finanzas-fci-fondos-nombre-historico
      x-data-source:
        - >-
          [CNV -
          Cuotapartes](https://www.cnv.gov.ar/SitioWeb/FondosComunesInversion/CuotaPartes)
components:
  schemas:
    LetraCapitalizable:
      title: LetraCapitalizable
      type: object
      properties:
        ticker:
          type: string
          description: Código del instrumento
          example: S31G5
        fechaEmision:
          type: string
          description: Fecha de emisión original (ISO 8601)
        fechaVencimiento:
          type: string
          description: Fecha de vencimiento (ISO 8601)
        tem:
          type: number
          description: Tasa Efectiva Mensual (%)
        vpv:
          type: number
          description: Valor de Pago al Vencimiento por cada $100 de valor nominal
      x-examples:
        Example 1:
          ticker: S31G5
          fechaEmision: '2024-06-14'
          fechaVencimiento: '2025-08-31'
          tem: 3.75
          vpv: 118.45612
    BonoSoberanoCer:
      title: BonoSoberanoCer
      type: object
      required:
        - ticker
        - precioArs
        - tirPorcentaje
        - fechaVencimiento
      properties:
        ticker:
          type: string
          description: Código del bono
          example: TZX26
        precioArs:
          type: number
          description: Precio de cotización en pesos argentinos
        tirPorcentaje:
          type: number
          description: Tasa interna de retorno (TIR) en porcentaje
        fechaVencimiento:
          type: string
          format: date
          description: 'Fecha de vencimiento (ISO 8601, solo fecha: yyyy-MM-dd)'
        volumen:
          type: number
          description: Volumen nominal negociado, si la fuente lo publica
      x-examples:
        Example 1:
          ticker: TZX26
          precioArs: 379.3
          tirPorcentaje: -8.55
          fechaVencimiento: '2026-06-30'
          volumen: 7197806107
    BonosCer:
      title: BonosCer
      type: object
      required:
        - fechaActualizacion
        - bonos
      properties:
        fechaActualizacion:
          type: string
          format: date-time
          description: Instante en que se generó el recurso (UTC, ISO 8601 con sufijo Z)
        bonos:
          type: array
          description: Filas de la grilla soberanos CER
          items:
            $ref: '#/components/schemas/BonoSoberanoCer'
      x-examples:
        Example 1:
          fechaActualizacion: '2026-05-04T19:02:59.767Z'
          bonos:
            - ticker: TZX26
              precioArs: 379.3
              tirPorcentaje: -8.55
              fechaVencimiento: '2026-06-30'
              volumen: 7197806107
    Feriado:
      title: Feriado
      type: object
      properties:
        fecha:
          type: string
        tipo:
          type: string
        nombre:
          type: string
      x-examples:
        Example 1:
          fecha: '2020-01-01'
          tipo: Inamovible
          motivo: Año Nuevo
    FeriadoBancario:
      title: FeriadoBancario
      type: object
      properties:
        fecha:
          type: string
        nombre:
          type: string
      x-examples:
        Example 1:
          fecha: '2026-01-01'
          nombre: Año nuevo
    Estado:
      title: Estado
      type: object
      properties:
        estado:
          type: string
        aleatorio:
          type: integer
      x-examples:
        Example 1:
          estado: Disponible
          aleatorio: 1234
    Cotizacion:
      title: Cotizacion
      type: object
      properties:
        moneda:
          type: string
        casa:
          type: string
        fecha:
          type: string
        compra:
          type: number
        venta:
          type: number
      x-examples:
        Example 1:
          compra: 123.45
          venta: 123.45
    EventoPresidencial:
      title: EventoPresidencial
      type: object
      properties:
        fecha:
          type: string
        tipo:
          type: string
        evento:
          type: string
      x-examples:
        Example 1:
          fecha: '2020-01-01'
          evento: Año Nuevo
    IndiceInflacion:
      title: IndiceInflacion
      type: object
      properties:
        fecha:
          type: string
        valor:
          type: number
      x-examples:
        Example 1:
          mes: Enero
          indice: 2.3
    IndiceUVA:
      title: IndiceUVA
      type: object
      properties:
        fecha:
          type: string
        valor:
          type: number
      x-examples:
        Example 1:
          mes: Enero
          indice: 2.3
    RiesgoPais:
      title: RiesgoPais
      type: object
      properties:
        fecha:
          type: string
        valor:
          type: number
      x-examples:
        Example 1:
          fecha: '2020-01-01'
          valor: 123.45
    IndiceConfianzaGobierno:
      title: IndiceConfianzaGobierno
      type: object
      properties:
        fecha:
          type: string
          description: Fecha del mes (primer día), en formato YYYY-MM-DD
        valor:
          type: number
          description: Valor del Índice de Confianza en el Gobierno
        variacion:
          type: number
          description: Variación mensual relativa del ICG respecto al mes anterior
      x-examples:
        Example 1:
          fecha: '2026-07-01'
          valor: 1.935553
          variacion: -0.06461
    TasaPlazoFijo:
      title: TasaPlazoFijo
      type: object
      properties:
        entidad:
          type: string
        logo:
          type: string
          format: uri
          nullable: true
          description: URL del logo de la entidad
        tnaClientes:
          type: number
          description: Tasa Nominal Anual para clientes, en porcentaje
          example: 123.45
          format: float
          nullable: true
        tnaNoClientes:
          type: number
          description: Tasa Nominal Anual para no clientes, en porcentaje
          example: 123.45
          format: float
          nullable: true
        enlace:
          type: string
          format: uri
          nullable: true
          description: URL de la fuente o página del producto
        tasas:
          type: array
          nullable: true
          description: >-
            Tramos de TNA cuando la entidad publica distintas tasas según monto
            y/o plazo
          items:
            $ref: '#/components/schemas/TramoPlazoFijo'
        condiciones:
          type: string
          nullable: true
          description: Condiciones o aclaraciones del producto
        condicionesCorto:
          type: string
          nullable: true
          maxLength: 100
          description: Resumen breve de condiciones
      x-examples:
        Example 1:
          entidad: Banco de la Nación Argentina
          tnaClientes: 123.45
          tnaNoClientes: 123.45
          logo: null
          link: null
    TramoPlazoFijo:
      title: TramoPlazoFijo
      type: object
      description: TNA para un rango de monto y/o plazo dentro de una entidad de plazo fijo
      properties:
        montoMinimo:
          type: integer
          nullable: true
          description: Monto mínimo en pesos ARS del tramo
        montoMaximo:
          type: integer
          nullable: true
          description: Monto máximo en pesos ARS del tramo
        plazoMinDias:
          type: integer
          nullable: true
          description: Mínimo de días del rango de plazo
        plazoMaxDias:
          type: integer
          nullable: true
          description: Máximo de días del rango de plazo
        tna:
          type: number
          description: Tasa Nominal Anual del tramo
          format: float
      required:
        - tna
      x-examples:
        Example 1:
          montoMinimo: null
          montoMaximo: 999999
          plazoMinDias: 30
          plazoMaxDias: 44
          tna: 0.23
    ProveedorPlazoFijoUvaPagoPeriodico:
      title: ProveedorPlazoFijoUvaPagoPeriodico
      type: object
      properties:
        id:
          type: string
          description: Identificador estable del proveedor
          example: bna
        entidad:
          type: string
          description: Nombre de la entidad
        logo:
          type: string
          format: uri
          description: URL del logo de la entidad
        tasas:
          type: array
          description: Tasas por rango de plazo
          items:
            $ref: '#/components/schemas/TasaPlazoFijoUvaPagoPeriodico'
      x-examples:
        Example 1:
          id: bna
          entidad: Banco de la Nación Argentina
          logo: https://www.bna.com.ar/Content/img/logo-bna.png
          tasas:
            - nombre: PF TRAD.EN UVA CON PAGO INTERÉS SUBPERÍODOS DE 30 DÍAS
              plazoMinDias: 90
              plazoMaxDias: 119
              tna: 0.015
              tea: 0.0151
    TasaPlazoFijoUvaPagoPeriodico:
      title: TasaPlazoFijoUvaPagoPeriodico
      type: object
      description: Tasa para un rango de plazo dentro de un proveedor
      properties:
        nombre:
          type: string
          description: Nombre del tipo de plazo fijo
        plazoMinDias:
          type: integer
          description: Mínimo de días del rango de plazo
        plazoMaxDias:
          type: integer
          description: Máximo de días del rango de plazo
        tna:
          type: number
          description: Tasa Nominal Anual
          format: float
        tea:
          type: number
          description: Tasa Efectiva Anual
          format: float
      x-examples:
        Example 1:
          nombre: PF TRAD.EN UVA CON PAGO INTERÉS SUBPERÍODOS DE 30 DÍAS
          plazoMinDias: 90
          plazoMaxDias: 119
          tna: 0.015
          tea: 0.0151
    ProveedorPlazoFijoPrecancelable:
      title: ProveedorPlazoFijoPrecancelable
      type: object
      properties:
        id:
          type: string
          description: Identificador estable del proveedor
        entidad:
          type: string
          description: Nombre de la entidad
        logo:
          type: string
          format: uri
          description: URL del logo de la entidad
        enlace:
          type: string
          format: uri
          description: URL de la fuente
        canal:
          type: string
          nullable: true
          description: Canales publicados para constituir el plazo fijo
        moneda:
          type: string
          description: Moneda de constitución
        plazoMinDias:
          type: integer
          description: Plazo mínimo en días
        plazoMaxDias:
          type: integer
          nullable: true
          description: Plazo máximo en días
        plazoPrecancelacionDias:
          type: integer
          description: Días mínimos para ejercer la precancelación
        avisoPrecancelacionDias:
          type: integer
          nullable: true
          description: Días hábiles de aviso previo para precancelar
        montoMinimo:
          type: number
          nullable: true
          description: Monto mínimo de constitución
        montoMaximo:
          type: number
          nullable: true
          description: Monto máximo de constitución
        modalidad:
          type: string
          nullable: true
          description: Modalidad publicada por la entidad
        tna:
          type: number
          nullable: true
          format: float
          description: Tasa Nominal Anual
        tea:
          type: number
          nullable: true
          format: float
          description: Tasa Efectiva Anual
        tnaPrecancelacion:
          type: number
          nullable: true
          format: float
          description: Tasa Nominal Anual aplicada ante precancelación
        teaPrecancelacion:
          type: number
          nullable: true
          format: float
          description: Tasa Efectiva Anual aplicada ante precancelación
      x-examples:
        Example 1:
          id: bna
          entidad: Banco de la Nación Argentina
          logo: https://www.bna.com.ar/Content/img/logo-bna.png
          enlace: https://www.bna.com.ar/personas/plazofijoprecancelableuva
          canal: App BNA+, Home Banking y sucursales
          moneda: ARS
          plazoMinDias: 180
          plazoMaxDias: 370
          plazoPrecancelacionDias: 30
          avisoPrecancelacionDias: 5
          montoMinimo: 1500
          montoMaximo: 5000000
          modalidad: intransferible
          tna: 0.01
          tea: 0.01
          tnaPrecancelacion: 0.83
          teaPrecancelacion: 1.232
    TasaInteres:
      title: TasaInteres
      type: object
      properties:
        fecha:
          type: string
        valor:
          type: number
      x-examples:
        Example 1:
          entidad: Banco de la Nación Argentina
          tna: 123.45
    CuentaRemuneradaUsd:
      title: CuentaRemuneradaUsd
      type: object
      properties:
        entidad:
          type: string
          description: Identificador de la entidad
          example: BNA
        tasa:
          type: number
          format: float
          description: Tasa de rendimiento anual
          example: 0.02
        tope:
          type: number
          format: float
          nullable: true
          description: >-
            Monto máximo en USD remunerado a esa tasa, o null si no hay tope o
            no se informó
      x-examples:
        Example 1:
          entidad: BNA
          tasa: 0.006
          tope: 10000
    Criptopeso:
      title: Criptopeso
      type: object
      properties:
        token:
          type: string
          description: Token del criptopeso
          example: ARGt
        entidad:
          type: string
          description: Nombre de la entidad que ofrece el criptopeso
        tna:
          type: number
          description: Tasa Nominal Anual en porcentaje
          format: float
      x-examples:
        Example 1:
          token: ARGt
          entidad: Belo
          tna: 0.25
    HipotecarioUvaTna:
      title: HipotecarioUvaTna
      type: object
      properties:
        entidad:
          type: string
          description: Nombre del banco u oferente del crédito hipotecario UVA
        nombreComercial:
          type: string
          description: Nombre comercial
        tna:
          type: number
          description: Tasa Nominal Anual
          format: float
          minimum: 0
          maximum: 1
        metadata:
          type: object
          description: Detalle de condiciones
          properties:
            plazo_max_anios:
              type: integer
              description: Plazo máximo del préstamo en años
            relacion_cuota_ingreso:
              type: string
              description: Relación cuota–ingreso indicada en la fuente
              example: 30%
            financiamiento:
              type: string
              description: Porcentaje o condición de financiamiento
      x-examples:
        Example 1:
          entidad: BNA
          nombreComercial: BNA
          tna: 0.06
          metadata:
            plazo_max_anios: 30
            relacion_cuota_ingreso: 25%
            financiamiento: 75%
    PrestamoPersonal:
      title: PrestamoPersonal
      type: object
      properties:
        entidad:
          type: string
          description: Identificador de la entidad
          example: MACRO
        nombreComercial:
          type: string
          description: Nombre comercial de la entidad
        producto:
          type: string
          description: Nombre del producto o línea de préstamo
        tna:
          type: number
          format: float
          nullable: true
          description: Tasa Nominal Anual
          example: 0.79
        tea:
          type: number
          format: float
          nullable: true
          description: Tasa Efectiva Anual
          example: 1.1492
        cftTna:
          type: number
          format: float
          nullable: true
          description: Costo Financiero Total expresado como TNA
        cftTea:
          type: number
          format: float
          nullable: true
          description: Costo Financiero Total expresado como TEA
          example: 1.5086
        tipoTasa:
          type: string
          description: Tipo de tasa
          example: fija
        moneda:
          type: string
          description: Moneda del préstamo
          example: ARS
        requiereCliente:
          type: boolean
          nullable: true
          description: >-
            Si la oferta requiere ser cliente de la entidad o contratar un
            paquete
        condiciones:
          type: string
          nullable: true
          description: Condiciones comerciales resumidas
          example: Plan Sueldo
        enlace:
          type: string
          format: uri
          description: URL de la landing oficial
        vigenciaDesde:
          type: string
          format: date
          nullable: true
          description: Inicio de vigencia de la oferta
        vigenciaHasta:
          type: string
          format: date
          nullable: true
          description: Fin de vigencia de la oferta
        metadata:
          type: object
          description: Detalle adicional
          additionalProperties: true
          properties:
            tasasPorPlazo:
              type: array
              description: Tasas por tramo de plazo en meses
              items:
                type: object
                properties:
                  plazoMinMeses:
                    type: integer
                    example: 1
                  plazoMaxMeses:
                    type: integer
                    example: 12
                  tna:
                    type: number
                    nullable: true
                    example: 0.61
                  tea:
                    type: number
                    nullable: true
                    example: 0.813
                  cftTea:
                    type: number
                    nullable: true
                    example: 1.0468
            plazoMesesEjemplo:
              type: integer
              nullable: true
              description: Plazo del ejemplo representativo publicado por el banco
              example: 60
            plazoMinMeses:
              type: integer
              nullable: true
              example: 1
            plazoMaxMeses:
              type: integer
              nullable: true
              example: 72
            fuentePdf:
              type: boolean
              nullable: true
      x-examples:
        Example 1:
          entidad: MACRO
          nombreComercial: Macro
          producto: Préstamo personal
          tna: 0.79
          tea: 1.1492
          cftTna: null
          cftTea: 1.5086
          tipoTasa: fija
          moneda: ARS
          requiereCliente: true
          condiciones: Plan Sueldo
          enlace: https://www.macro.com.ar/personas/prestamos/personales
          vigenciaDesde: '2026-05-04'
          vigenciaHasta: null
          metadata:
            fuentePdf: true
            plazoMesesEjemplo: 60
            plazoMinMeses: 1
            plazoMaxMeses: 72
            tasasPorPlazo:
              - plazoMinMeses: 1
                plazoMaxMeses: 12
                tna: 0.61
                tea: 0.813
                cftTea: 1.0468
    PrestamoPersonalBcra:
      title: PrestamoPersonalBcra
      type: object
      description: Oferta de préstamo personal informada al BCRA
      properties:
        codigoEntidad:
          type: string
          description: Código de entidad BCRA
          example: '11'
        entidad:
          type: string
          description: Identificador de la entidad
          example: BNA
        nombreComercial:
          type: string
          description: Nombre comercial de la entidad
        producto:
          type: string
          nullable: true
          description: Nombre completo del préstamo personal
        productoCorto:
          type: string
          nullable: true
          description: Nombre corto del préstamo personal
        moneda:
          type: string
          enum:
            - ARS
            - USD
            - UVA
          description: Moneda
          example: ARS
        teaMax:
          type: number
          format: float
          nullable: true
          description: TEA máxima
          example: 0.7286
        cftTeaMax:
          type: number
          format: float
          nullable: true
          description: Costo financiero efectivo total máximo
          example: 0.9332
        tipoTasa:
          type: string
          nullable: true
          description: Tipo de tasa
          example: fija
        requiereCliente:
          type: boolean
          nullable: true
          description: Si la oferta requiere ser cliente de la entidad
        condiciones:
          type: string
          nullable: true
          description: Condiciones / beneficiarios
        vigenciaDesde:
          type: string
          format: date
          nullable: true
          description: Fecha de información
        enlace:
          type: string
          format: uri
          description: URL de la fuente
        metadata:
          type: object
          description: Detalle adicional
          additionalProperties: true
          properties:
            montoMin:
              type: integer
              nullable: true
            montoMax:
              type: integer
              nullable: true
            plazoMaxMeses:
              type: integer
              nullable: true
              example: 72
            ingresoMinMensual:
              type: integer
              nullable: true
            antiguedadLaboralMinMeses:
              type: integer
              nullable: true
            edadMax:
              type: integer
              nullable: true
            afectacionIngresos:
              type: string
              nullable: true
              example: 35%
            cargoCancelacionAnticipada:
              type: number
              nullable: true
              description: Cargo máximo por cancelación anticipada
              example: 0.04
            cuotaInicialPor10000:
              type: number
              nullable: true
            territorio:
              type: string
              nullable: true
              example: Todo el territorio nacional
            notas:
              type: string
              nullable: true
            fuente:
              type: string
              enum:
                - bcra-csv
      x-examples:
        Example 1:
          codigoEntidad: '11'
          entidad: BNA
          nombreComercial: BANCO DE LA NACION ARGENTINA
          producto: NACION SUELDOS TRAMO III
          productoCorto: NACION SUELDOS
          moneda: ARS
          teaMax: 0.7286
          cftTeaMax: 0.9332
          tipoTasa: fija
          requiereCliente: true
          condiciones: Clientes que acrediten sueldos en la entidad
          vigenciaDesde: '2026-08-10'
          enlace: https://www.bcra.gob.ar/archivos/Pdfs/BCRAyVos/PERSONALES.CSV
          metadata:
            montoMin: 1000000
            montoMax: 100000000
            plazoMaxMeses: 72
            ingresoMinMensual: 421284
            antiguedadLaboralMinMeses: 3
            edadMax: 74
            afectacionIngresos: 35%
            cargoCancelacionAnticipada: 0.04
            cuotaInicialPor10000: 583
            territorio: Todo el territorio nacional
            notas: null
            fuente: bcra-csv
    FondoComunInversion:
      title: FondoComunInversion
      type: object
      properties:
        fondo:
          type: string
        tipo:
          type: string
        fecha:
          type: string
        vcp:
          type: number
        ccp:
          type: number
        patrimonio:
          type: number
        horizonte:
          type: string
          enum:
            - corto
            - medio
            - largo
      x-examples:
        Example 1:
          fondo: Fondo Común de Inversión
          vcp: 123.45
          ccp: 123.45
          patrimonio: 123.45
          horizonte: corto
    FondoComunInversionOtro:
      title: FondoComunInversionOtro
      type: object
      properties:
        fondo:
          type: string
        fecha:
          type: string
        tea:
          type: number
        tna:
          type: number
        tope:
          type: number
        condiciones:
          type: string
          nullable: true
        condicionesCorto:
          type: string
          nullable: true
        plazoMinDias:
          type: integer
          nullable: true
          description: Mínimo de días del rango de plazo
        plazoMaxDias:
          type: integer
          nullable: true
          description: Máximo de días del rango de plazo
      x-examples:
        Example 1:
          fondo: Otro Fondo Común de Inversión
          tea: 123.45
          tna: 123.45
          tope: 123.45
    FondoComunInversionVariable:
      title: FondoComunInversionVariable
      type: object
      properties:
        nombre:
          type: string
          description: >-
            Identificador de la fuente en Argentina Datos (por ejemplo el
            proveedor o el canal).
        fondo:
          type: string
          description: Nombre del fondo común de inversión (clase o denominación oficial).
        tipo:
          type: string
          description: >-
            Clasificación del instrumento. Valor conocido: `billetera` (cuenta
            remunerada en billetera digital).
          enum:
            - billetera
        fecha:
          type: string
        tea:
          type: number
        tna:
          type: number
        tope:
          type: number
          nullable: true
        condiciones:
          type: string
          nullable: true
        condicionesCorto:
          type: string
          nullable: true
      x-examples:
        Example 1:
          nombre: GLOBAL66
          fondo: Compass Liquidez - Clase A
          tipo: billetera
          fecha: '2026-04-23'
          tea: 0.2273
          tna: 0.2048
          tope: null
          condiciones: Solo clientes persona con servicio de rendimientos activado
          condicionesCorto: Solo clientes B2C
    Rendimiento:
      title: Rendimiento
      type: object
      properties:
        moneda:
          type: string
        apy:
          type: number
        fecha:
          type: string
      x-examples:
        Example 1:
          moneda: USDT
          apy: 123.45
          fecha: '2024-01-01'
    EntidadRendimiento:
      title: EntidadRendimiento
      type: object
      properties:
        entidad:
          type: string
        rendimientos:
          type: array
          items:
            $ref: '#/components/schemas/Rendimiento'
    ActaSenado:
      title: ActaSenado
      type: object
      properties:
        actaId:
          type: integer
          nullable: true
        titulo:
          type: string
          nullable: true
        proyecto:
          type: string
        descripcion:
          type: string
        quorumTipo:
          type: string
        fecha:
          type: string
          format: date
        acta:
          type: string
        mayoria:
          type: string
        miembros:
          type: integer
        afirmativos:
          type: integer
        negativos:
          type: integer
        abstenciones:
          type: integer
        presentes:
          type: integer
        ausentes:
          type: integer
        amn:
          type: integer
        resultado:
          type: string
          enum:
            - afirmativa
            - negativa
            - cancelada lev.vot.
        votos:
          type: array
          items:
            $ref: '#/components/schemas/VotoData'
        observaciones:
          type: array
          items:
            type: string
    Senador:
      title: Senador
      type: object
      properties:
        id:
          type: string
        nombre:
          type: string
        provincia:
          type: string
        partido:
          type: string
        bloque:
          type: string
          nullable: true
          description: >-
            Bloque parlamentario actual (solo senadores vigentes). Distinto de
            partido/alianza electoral.
        periodoLegal:
          type: object
          properties:
            inicio:
              type: string
              format: date
              nullable: true
            fin:
              type: string
              format: date
              nullable: true
        periodoReal:
          type: object
          properties:
            inicio:
              type: string
              format: date
              nullable: true
            fin:
              type: string
              format: date
              nullable: true
        reemplazo:
          type: string
          nullable: true
        observaciones:
          type: string
          nullable: true
        foto:
          type: string
          format: uri
          nullable: true
        email:
          type: string
          format: email
          nullable: true
        telefono:
          type: string
          nullable: true
        redes:
          type: array
          items:
            type: string
          nullable: true
        meta:
          type: object
          nullable: true
          properties:
            dieta:
              type: object
              properties:
                renunciaAlAumento:
                  type: boolean
                donacion:
                  type: boolean
                aportesPartidarios:
                  type: boolean
                fuente:
                  type: string
                  format: uri
                actualizado:
                  type: string
                  format: date-time
            comisiones:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: string
                  nombre:
                    type: string
                  cargo:
                    type: string
    ComisionSenado:
      title: ComisionSenado
      type: object
      properties:
        id:
          type: string
        nombre:
          type: string
        tipo:
          type: string
          nullable: true
        url:
          type: string
          format: uri
        integrantes:
          type: array
          items:
            type: object
            properties:
              nombre:
                type: string
              cargo:
                type: string
              camara:
                type: string
                enum:
                  - senado
                  - diputados
                nullable: true
              senadorId:
                type: string
                nullable: true
    PresidenciaSenado:
      title: PresidenciaSenado
      type: object
      properties:
        nombre:
          type: string
          example: Victoria Eugenia Villarruel
        cargo:
          type: string
          example: Presidente del Senado de la Nación
        periodoInicio:
          type: string
          format: date
          nullable: true
        periodoFin:
          type: string
          format: date
          nullable: true
        foto:
          type: string
          format: uri
          nullable: true
        email:
          type: string
          nullable: true
        telefono:
          type: string
          nullable: true
        direccion:
          type: string
          nullable: true
        curriculum:
          type: string
          nullable: true
          description: Texto del currículum si está publicado; null si no está disponible
        fuente:
          type: string
          format: uri
      required:
        - nombre
        - cargo
        - fuente
    ViajesSenado:
      title: ViajesSenado
      type: object
      properties:
        fuente:
          type: string
          format: uri
        actualizado:
          type: string
          format: date-time
        documentos:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              ambito:
                type: string
                enum:
                  - nacional
                  - internacional
              anio:
                type: integer
              mes:
                type: integer
                nullable: true
              mesNombre:
                type: string
                nullable: true
              url:
                type: string
                format: uri
        nacionales:
          type: array
          items:
            $ref: '#/components/schemas/ViajeNacional'
        internacionales:
          type: array
          items:
            $ref: '#/components/schemas/ViajeInternacional'
    ViajeNacional:
      title: ViajeNacional
      type: object
      properties:
        ambito:
          type: string
          enum:
            - nacional
        anio:
          type: integer
        mes:
          type: integer
        mesNombre:
          type: string
        documentoId:
          type: string
        documentoUrl:
          type: string
          format: uri
        nombre:
          type: string
        senadorId:
          type: string
          nullable: true
        origen:
          type: string
        origenCodigo:
          type: string
          nullable: true
        destino:
          type: string
        destinoCodigo:
          type: string
          nullable: true
    ViajeInternacional:
      title: ViajeInternacional
      type: object
      properties:
        ambito:
          type: string
[...]
